# This my.conf file is from a default Centos 5.5 install, with some changes at the end,
# plus the mysqld_safe and mysqld sections are reversed so that boxgrinder configs can 
# easily append options to the mysqld section by appending to the file

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
old_passwords=1

# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

max_connections=300

innodb_file_per_table
innodb_buffer_pool_size=32m
#innodb_data_file_path=ibdata01:200M;ibdata02:200M;ibdata03:200M;ibdata04:200M;ibdata05:200M:autoextend
#ibdata06:200M;ibdata07:200M;ibdata08:200M;ibdata09:200M;ibdata10:200M;ibdata11:200M;ibdata12:200M;ibdata13:200M;ibdata14:200M;ibdata15:200M;ibdata16:200M;ibdata17:200M;ibdata18:200M;ibdata19:200M;ibdata20:200M;ibdata21:200M;ibdata22:200M;ibdata23:200M;ibdata24:200M;ibdata25:200M;ibdata26:200M;ibdata27:200M;ibdata28:200M;ibdata29:200M;ibdata30:200M;ibdata31:200M;ibdata32:200M;ibdata33:200M;ibdata34:200M;ibdata35:200M;ibdata36:200M;ibdata37:200M;ibdata38:200M;ibdata39:200M;ibdata40:200M;ibdata41:200M;ibdata42:200M;ibdata43:200M;ibdata44:200M;ibdata45:200M;ibdata46:200M;ibdata47:200M;ibdata48:200M;ibdata49:200M;ibdata50:200M:autoextend


